attrs==22.2.0
autopep8 @ file:///opt/conda/conda-bld/autopep8_1650463822033/work
certifi==2022.12.7
chardet==4.0.0
charset-normalizer==2.1.1
colorama==0.4.6
contourpy==1.0.6
cycler==0.10.0
exceptiongroup==1.1.0
fonttools==4.38.0
idna==2.10
iniconfig==2.0.0
kiwisolver==1.4.4
matplotlib==3.6.2
numpy==1.24.1
packaging==23.0
Pillow==9.4.0
pluggy==1.0.0
pycodestyle @ file:///C:/b/abs_d77nxvklcq/croot/pycodestyle_1674267231034/work
pyparsing==2.4.7
pytest==7.2.1
python-dateutil==2.8.2
requests==2.28.1
requests-toolbelt==0.10.1
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli==2.0.1
tqdm==4.64.1
wincertstore==0.2
